<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nofaterock.batch.pay.PayMapper">

	<select id="selectAll" resultType="com.nofaterock.batch.pay.Pay">
		SELECT id, amount, txName, txDateTime
		FROM Pay
		WHERE amount >= #{amount}
		ORDER BY id ASC
	</select>

	<select id="selectPaged" resultType="com.nofaterock.batch.pay.Pay">
		SELECT id, amount, txName, txDateTime
		FROM Pay
		WHERE amount >= #{amount}
		ORDER BY id ASC
			OFFSET #{_skiprows} ROWS
			FETCH NEXT #{_pagesize} ROWS ONLY
	</select>

	<insert id="insertPay2" parameterType="com.nofaterock.batch.pay.Pay2">
		INSERT INTO Pay2 (amount, txName, txDateTime)
		VALUES (#{amount}, #{txName}, #{txDateTime})
	</insert>

</mapper>
